.navbar{
  z-index: 2;
}

.left-container{
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 250px;
  background-color: yellow;
  z-index: 1;
  padding-top: 80px;
  padding-left: 15px;
  padding-right: 15px;
}

.right-container{
  position: fixed;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 250px;
  background-color: yellow;
  z-index: 1;
  padding-top: 80px;
  padding-left: 15px;
  padding-right: 15px;
}

.card{
  background-color: grey;
  height: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.card1{
  margin-left: 400px;
  margin-right: 400px;
}

.card2{

}

.card-body{
  /* border: solid; */

  text-align: center;
}

.label-name{
  /* border: solid; */
  float: left;
  font-size: 40px;
}

.button{
  float: right;
  /* border: solid; */

}
.btn-center{
  font-size: 20px;
  margin-left: 10px;
}

.btn-return{
    font-size: 20px;
    float: right;
}
